<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
    <script src="/static/js/main.js"></script>
    <title>{% block title %} Default title {% endblock title %}</title>
</head>
<body>
    <h1>{% block header %} Block default {% endblock header %}</h1>
    <div>{% block content %}{% endblock content %} </div>
    <div>Footer</div>
    <div class="container">
      <div class="row">
        <div class="col .col-sm-6">
          fjdkfscklsdmlcnsdjkcnlskdlc;sdmkcmsl;d,c;'ds,c';dsc;,sd;c,sdl,cs
        </div>
        <div class="col .col-sm-6">
            dlldslls
            <div class="container">
              <div class="tutorial">
                <ul>
                  <li>Главная</li>
                  <li>О нас</li>
                  <li>Каталог<i class="fa fa-angle-down"></i>
                    <ul>
                      <li>Варочные панели</li>
                      <li>Вытяжки</li>
                      <li>Духовые шкафы</li>
                      <li>Микроволновые печи</li>
                      <li>Холодильники</li>
                      <li>Стиральные машины</li>
                      <li>Телевизоры</li>
                      <li></li>
                    </ul>
                  </li>
                  <li>Контакты</li>
                </ul>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          1 из 3
        </div>
        <div class="col">
          2 из 3
        </div>
        <div class="col">
          3 из 3
        </div>
      </div>
    </div>
</body>
</html>